# Virtual environment
.venv/
venv/
env/

# Python cache / temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Heavy data
data/raw/
*.csv
*.xlsx